on post-fs-data

    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/DW9714AF_DRV
    chown system camera /dev/DW9714AF_DRV

    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

    # DT2W
    chmod 0666 /sys/devices/platform/bus/1100a000.i2c/i2c-1/1-0038/fts_gesture_mode
    chown system system /sys/devices/platform/bus/1100a000.i2c/i2c-1/1-0038/fts_gesture_mode
