# ==============================================
# X5 Policy Rule
# ==============================================
type sysfs_fts, fs_type, sysfs_type;
